.header { 
    position: fixed;
    margin: -10px;
    height: 70px;
    width: 100%;
    background-color: red; 
}

.header img {
    padding: 5px;
    max-width: 60px;
}

.header a {
    position: fixed;
    top: 40px;

    font-weight: 600;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}