.signin-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #323232;
    text-align: center;
    height: auto;
    width: 300px;
    border-radius: 10px;
}

.input-fields {
    display: grid;
    position: relative;
    padding: 10px;
}

.input-fields input {
    transition-duration: 0.3s;
    position: relative;
    margin: 2px;
    padding: 6px;
    color: #95a5d5;
    background-color: #1f1f1f;
    border-color: #95a5d5;
    border-radius: 10px;
}

.input-fields input:hover {
    transition-duration: 0.3s;
    color: #707fa9;
    background-color: #161616;
    border-radius: 8px;
}

.input-fields input:focus {
    transition-duration: 0.3s;
    color: #707fa9;
    background-color: #161616;
    border-radius: 8px;
}

.signin-buttons {
    position: relative;
    display: grid;
    text-align: center;
}

.btn-signin {
    transition-duration: 0.3s;
    position: relative;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #7282ad;
    border: #b4c7ff solid;
}

.btn-signin:hover {
    transition-duration: 0.3s;
    background-color: #5f6d91;
}

.btn-register {
    transition-duration: 0.3s;
    margin-top: 7px;
    color: #66749b;
    text-decoration: none;
    font-weight: 400;
    font-family: "Yu Gothic UI Semibold";
}

.btn-register:hover {
    transition-duration: 0.3s;
    cursor: pointer;
    color: #556182;
}