.userlist-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.userlist-card {
    background-color: #313131;
    border-radius: 10px;
    box-shadow: 3px 3px 0 #66749b;
    width: 420px;
    min-height: 80px;
}

.userlist-card h1{
    font-family: "Helvetica Neue",Helvetica,A;
    font-size: 20px;
    color: #8080eb;
    text-shadow: 2px 2px 0 #666666;
    text-align: center;
    padding-top: 10px;
    transition-duration: 0.5s;
}

.userlist-card h1:hover {
    font-size: 21px;
    transition-duration: 0.2s;
}

.user-data {
    display: flex;
    transition-duration: 0.8s;
    padding-left: 10px;
    border: 2px solid #8080eb;
    border-radius: 10px;
}

.user-data:hover {
    transition-duration: 0.5s;
    background-color: #414141;
    border: 3px solid #8080eb;
    border-radius: 8px;
}

.user-container {
    padding: 10px;
    padding-top: 0;
}

.user-data img {
    margin: 3px;
    margin-left: 0;
    width:50px;
    height:50px;
    object-fit: fill;
    border-radius: 10px;
    border: 2px solid #acace9
}

.user-data a {
    position: relative; 
    left:10px;
    top: 18px;
    font-family: "Helvetica Neue",Helvetica,A;
    font-size: 20px;
    font-weight: 600;
    color: #9b9beb;
}

.user-data a:hover {
    cursor: default;
}

.test {
    position: relative;
    top: -45px;
    left: 78%;
    height: 0px;
}

.test button {
    transition-duration: 0.5s;
    font-family: "Helvetica Neue",Helvetica,A;
    font-size: 12px;
    font-weight: 600;
    background-color: #414141;
    color: #8080eb;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 8px;
}

.test button:hover {
    transition-duration: 0.2s;
    background-color: #3f3f3f;
    color: #6b6bb6;
    cursor: pointer;
}