<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/site/styles/login-style.css" rel="stylesheet" media="screen">
    <title>Login</title>
</head>
<body>
    <div class="signin-window">
        <div class="logo-div">
            <img src="../static/site/files/logo.png" alt="">
        </div>
        <form>
            <div class="input-fields">
                <label>
                    <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
                </label>
                <label>
                    <input type="password" placeholder="Password" name="password" value="{{request.form.password }}" >
                </label>
            </div>
            <div class="signin-buttons">
                <button class="btn-signin" type="submit" value="Login">Sign-In</button>
                <a class="btn-register" href="../register">Need to register?</a>
            </div>
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
</body>
</html>