<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/site/styles/main.css" rel="stylesheet" media="screen">

    <title>Profile</title>
</head>
<body>
    Logged in as {{username}} (uid {{uid}})
    <br>
    This profile belongs to {{profile_username}} (uid: {{profile_userid}})
    <br>
    <form autocomplete="off" method="post">
        <label>
            <input type="text" placeholder="pfp url" name="profile_picture_url" value="{{profile_picture_url}}">
        </label>
        <label>
            <input type="text" placeholder="description" name="description" value="{{description}}">
        </label>
        <button class="btn-signin" type="submit" value="save">Save</button>
        </div>
    </form>
    {%if error %}
        <p class="error" style="color: red"><strong>Error:</strong> {{ error }}
    {% endif %}
</body>
</html>