<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/site/styles/main.css" rel="stylesheet" media="screen">
    <link href="../static/site/styles/profile.css" rel="stylesheet" media="screen">
    <title>Profile</title>
</head>
<body>
    <header class="header">
        <img class="header-img" src="../static/site/files/logo.png" alt="">
        <a class="header-info-text">klol | logged in as {{username}}</a>
        <a href="../logout" class="header-logout-btn">
            log out
        </a> 
        <a href="../{{url}}" class="header-profile-btn">
            profile
        </a> 
    </header>

    <div class="main-profile">
        <div class="profile-card">
            <div class="profile-picture">
                <img alt="" src="{{profile_picture_url}}">
            </div>
            <div class="profile-details">
                <div class="profile-name">{{profile_username}}</div>
                <div class="profile-userid">uid {{profile_userid}}</div>
                <div class="profile-description">{{profile_description}}</div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <h1>profile site - by khey</h1> 
        <a class="link" href="../userlist">userlist</a>
        {%if is_owner%}
        <a class="link edit-profile" href="../{{url}}/edit">edit profile</a>
        {%endif%}
    </footer>
</body>
</html>