<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/site/styles/main.css" rel="stylesheet" media="screen">
    <link href="../static/site/styles/header-footer.css" rel="stylesheet" media="screen">
    <link href="../static/site/styles/userlist.css" rel="stylesheet" media="screen">
    <title>Userlist</title>
</head>
<body>
    <div class="userlist-container">
        <div class="userlist-card">
            <h1>user list</h1>
            {%for i in range(0, len)%}
            <div class="user-container"> 
                <div class="user-data" onclick="window.location = '../users/{{list[i][1]}}.{{list[i][0]}}'; ">
                    <img src="../static/uploads/{{list[i][1]}}.png" alt="">
                    <a>{{list[i][1]}} (uid {{list[i][0]}})</a>
                    
                </div>
                {%if is_admin and list[i][2] %}
                <div class="test">
                    <form method="post">
                        <button class="btn-delete-user" name="delete" type="submit" value="{{list[i][1]}}">delete user</button>
                    </form>
                </div>
                {% endif %}
            </div>
            {%endfor%}
        </div>
    </div>


    <header class="header">
        <img class="header-img" src="../static/site/files/logo.png" alt="">
        <a class="header-info-text">klol | logged in as {{username}}</a>
        <a href="../logout" class="header-logout-btn">
            log out
        </a> 
        <a href="../{{url}}" class="header-profile-btn">
            profile
        </a> 
    </header>
    
    <div class="i-need-space"></div>

    <footer class="footer">
        <h1>profile site - by khey</h1> 
        <div class="links"></div>
    </footer>
</body>
</html>